.buttonbox {
    width: 100%;
    /* height: calc(100% - 0px); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px;
    background-color: rgb(10 8 49);
    /* // */
    padding: 1rem;
   
    border: 2px solid blueviolet;
}